html{
    background-color: black;
}
div{
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
img{
    width: 100%;
    border: 5px white solid;
}
h1{
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}